
* {
  margin: 0;
  border: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2cadf8;
}
.align-right {
  text-align: right;
}

.hv_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.warpper {
  width:1045px;
  margin:0 auto;
}
.line-blue {
  height: 0;
  width: 100%;
  border-bottom:1px solid #2cadf8;
}
.margin-10 {
  margin:10px 0;
}


.calendar {
  background-color: rgba(246,251,247,0.7);
  box-shadow: 0 0 10px rgba(34,205,239,0.7);
  font-family:"Trebuchet MS",sans-serif;
  display: flex;
}
.calendar>div{
  padding:5px;
}
.calendar table {
  width:100%;
  text-align: center;
}
.calendar span.selected {
  background: cornflowerblue;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 10px cornflowerblue;
}
.calendar span.current {
  background-color: #dec60f;
  color: #222;
  -webkit-box-shadow: 0 0 10px #dec60f;
  -moz-box-shadow: 0 0 10px #dec60f;
  box-shadow: 0 0 10px #dec60f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.calendar td.current {
  background-color:#fb0;
}
.calendar span.solar {
  width: 50%;
  height: 50%;
  display: inline-block;
  margin-top:8px;
  line-height:25px;
}
.calendar span.lunar {
  display: block;
  font-size: 10px;
}
.calendar td a {
  color: #222;
  width: 50px;
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
}
.lunarDetail,.solarDetail{
   width:20px;
}
.lunarDetail{
  margin:0 10px 0 15px;
  font-size: 14px;
}
.lunarDetail>span {
  width:20px;
  display: inline-block;
  margin-top:5px;
}
.solarDetail{
  font-weight:bold;
  padding-right:15px;
  border-right:2px solid #2cadf8;
}
.solarDay{
  flex-grow:1;
  text-align: center;
}
.dragArea {
  cursor: move;
  text-align: center;
  height:38px;
}
.side_bar {
  font-size: 16px;
  font-weight: 600;
  color: dimgrey;
  width: 70px;
  background: #222;
  position: absolute;
  height: 100%;
}
.app-content {
  margin-left:80px;
}
.calendarDetail {
  width:260px;
  border-left:#2cadf8 solid 2px;
  background: #f1f1f1;
}
.toDo {
  font-size:25px;
  text-align: center;
}
.notes {
  margin-top:5px;
  padding:10px 0 0 5px;
  border-top:2px solid #333;
  font-size:14px;
}